.history_item {
  border: 2px solid #8e8989;
  width: 80%;
  margin: auto;
  justify-content: space-between; /* Chia không gian ngang đều giữa các phần tử con */

  .info_item {
    border-bottom: 2px solid #8e8989;
    border-right: 2px solid #8e8989;
    padding: 20px 0;
    align-items: center;

    gap: 8px; /* Khoảng cách giữa biểu tượng và văn bản */
  }
}
.text_item {
  font-size: 18px;
}
.lichSu_item {
  border-left: 2px solid #8e8989;
  background-color: #ad2d19;
}
.lichSu_content {
  margin: 20px;

  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Chia thành 2 cột */
  gap: 20px; /* Khoảng cách giữa các phần tử */
}
.lichsu_item {
  background-color: #fff;
  border-radius: 10px;
}
