.purcharse_content{
  margin-top: 100px;
 
}
.footer_purchase{
  margin-top: 100px;
}
.ghe {
  width: 35px;
  border: none;
  cursor: pointer;
  height: 35px;
  margin: 5px;
  min-width: unset;
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
}
.gheDaDat {
  background-color: rgb(118, 118, 118);
  cursor: no-drop;
  width: 35px;
  border: none;
  cursor: no-drop;
  height: 35px;
  margin: 5px;
  min-width: unset;
  border-radius: 5px;
}
.gheVip {
  background-color: orange;
  width: 35px;
  border: none;
  cursor: pointer;
  height: 35px;
  margin: 5px;
  min-width: unset;
  border-radius: 5px;
}
.gheDangDat {
  background-color: rgb(12, 176, 18) !important;
}
.trapezoid {
  border-bottom: 80px solid gray;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 80%;
  opacity: 0.5;
  filter: drop-shadow(0px 128px 75px rgba(54, 47, 47, 0.39));
  -webkit-filter: drop-shadow(0px 128px 75px rgba(54, 47, 47, 0.39));
  -moz-filter: drop-shadow(0px 128px 75px rgba(54, 47, 47, 0.39));
}
.seats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Căn giữa các phần tử con */
}

.seat-wrapper {
  display: flex; /* Cho phép các ghế trong hàng căn giữa */
  justify-content: center; /* Căn giữa các ghế trong hàng */
  flex: 0 0 calc(100% / 16);
  margin-bottom: 5px; /* Có thể điều chỉnh khoảng cách giữa các ghế ở đây */
}
.button_item {
  pointer-events: none;
  width: 50%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.btn_content {
  margin: 0px 16px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
/* Thiết lập cho màn hình từ 768px trở lên */
@media (min-width: 768px) {
  .seats-container {
    justify-content: center;
    width: 100%;
  }
}
.seat {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

@media (min-width: 992px) {
  .seats-container {
    grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
    justify-content: center;
    width: 100%;
  }
  .seat-wrapper {
    flex: 0 0 calc(100% / 16);
    /* Điều chỉnh số lượng ghế trong mỗi hàng */
  }
}

/* Thiết lập cho màn hình từ 1200px trở lên */
@media (min-width: 1200px) {
  .seats-container {
    /* Các style khác ở đây */
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .seats-container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(35px, 1fr)
    ); /* Mỗi cột có độ rộng tối thiểu 35px */
  }
}
