.tab_cum_rap {
  &.ant-tabs {
    .ant-tabs-nav {
      .ant-tabs-nav-list {
        .ant-tabs-tab {
          padding: 0;
          padding-right: 24px;
        }
      }
    }
  }

  .label_cumrap {
    width: 300px;
  }
}