.tab_cum_rap {
    max-width: 100%;
    height: auto;
  
    &.ant-tabs {
      .ant-tabs-nav {
        .ant-tabs-nav-list {
          .ant-tabs-tab {
            display: inline-block; /* Hiển thị như một phần tử inline-block để có thể chia sẻ hàng với .img-content */
            vertical-align: top; /* Đảm bảo căn chỉnh hàng dọc với .img-content */
            border-bottom: 1px solid #e0e0e0;
            width: 90%;
            margin: auto; /* Thêm border chỉ ở dưới */
          }
          .ant-tabs-ink-bar {
            background-color: green;
          }
        }
      }
      .ant-tabs-content {
        border: 1px solid #e0e0e0;
        flex-grow: 1;
        overflow-y: scroll;
        border-left: none;
        height: 700px;
        width: 700px;
      }
    }
    .label_cumrap {
      width: 300px;
    }
    .gio-chieu {
      color: #9e9e9e;
      width: 200px;
      border: 1px solid #e4e4e4;
      cursor: pointer;
      display: inline-block;
      padding: 15px;
      border-radius: 4px;
  
      text-decoration: none;
      background-color: rgba(246, 246, 246, 0.5);
      transition: transform 0.7s ease; /* Áp dụng hiệu ứng chuyển đổi cho smooth hover */
      position: relative; /* Đặt position relative để có thể áp dụng hover */
    }
  
    .gio-chieu:hover .moment-item {
      font-weight: bold;
      font-size: 16px;
    }
  
    .p {
      font-size: 16px;
      font-weight: 600; /* Sử dụng font-weight 600 (bold) cho mặc định */
    }
  }
  .lich_chieu {
    .img_item {
      width: 100px;
      height: 126px;
      object-fit: cover;
    }
  }
  .grid-cols-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; /* Khoảng cách giữa các cột */
    justify-content: space-between;
  }
  .flex {
    padding-bottom: 10px;
  
    border-top: none;
  }
  .list-item-container {
    display: grid;
    place-items: center; /* Căn giữa cả hai chiều */
  }
  .list-item {
    border-bottom: 1px solid #e0e0e0;
    width: 90%;
    margin: auto;
  }
  
  .flex:last-child {
    border-bottom: none;
  }
  /* Không cho phép các phần tử con ảnh hưởng đến hover */
  